name: Integration Tests

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/README.md'
      - '**/docs/**'
      - '**/.github/workflows/publish.yml'
  pull_request:
    paths-ignore:
      - '**/README.md'
      - '**/docs/**'
      - '**/.github/workflows/publish.yml'

jobs:
  integration-tests:
    name: Run integration tests (Python ${{ matrix.python-version }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: [ '3.10', '3.11', '3.12' ]

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v5

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip

      - name: Install uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7
        with:
            enable-cache: true

      - name: Install dependencies
        run: uv sync --all-extras

      - name: Run integration tests
        run: make test-integration
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
