name: Integration Tests

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/README.md'
      - '**/docs/**'
      - '**/.github/workflows/publish.yml'
  pull_request:
    paths-ignore:
      - '**/README.md'
      - '**/docs/**'
      - '**/.github/workflows/publish.yml'

jobs:
  integration-tests:
    name: Run integration tests (Python ${{ matrix.python-version }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: [ '3.10', '3.11', '3.12' ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt

      - name: Run integration tests
        run: |
          pytest tests/integration --tb=short --maxfail=1 -v
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}

